name: Fortify SC DAST Scan
on:
  workflow_dispatch:
  push:
    # Master or main branch that you want to trigger this workflow for
    branches: [master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [master]

jobs:                                                  
  Dast_Scan:
    runs-on: ubuntu-latest
    steps:
    - name: SC DAST Scan
      run: |
         #HTTP_RESPONSE=$(curl -kv -X POST "http://54.175.122.17:9090/api/v2/scans/start-scan-cicd" -H  "accept: text/plain" -H  "Content-Type: application/json-patch+json" -H "'Authorization'='FORTIFYTOKEN YzlhY2RmNzctNTczNi00MGU4LTg1ODctZDU1OTFiNjQzODE3'" -d "{'cicdToken':'b755514c-ae26-4226-be4a-f53778c44140','name':'PetStore API Scan via Jenkins',"scannerId":0,\"useAssignedScannerOnly\":true,\"overrides\":{\"dataRetentionDays\":0,\"scanPriority\":0,\"scanMode\":\"CrawlOnly\",\"workflowDrivenMacroBinaryFileIds\":[0]}}")
         curl --location --request POST "http://54.237.51.31:9090/api/scans/start-scan-cicd" --header "Authorization: FORTIFYTOKEN YzlhY2RmNzctNTczNi00MGU4LTg1ODctZDU1OTFiNjQzODE3" --header "Content-Type: application/json" --data-raw "{"cicdToken": 'b755514c-ae26-4226-be4a-f53778c44140'}"
         #echo "$HTTP_RESPONSE"
