name: Fortify SC DAST Scan
on:
  workflow_dispatch:
  push:
    # Master or main branch that you want to trigger this workflow for
    branches: [master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [master]

jobs:                                                  
  Dast_Scan:
    runs-on: ubuntu-latest
    steps:
    - name: SC DAST Scan
      id: DAST_Scan
      uses: fjogeleit/http-request-action@master
      with:
        url: 'http://54.175.122.17:9090/api/scans/start-scan-cicd'
        method: 'POST'
        customHeaders: "{Authorization=FORTIFYTOKEN NTcwMGFiMWUtMGFmMy00NmQwLTgyODktZTUzOTU0MGMzNDM5}"
        data: "{'cicdToken':'b755514c-ae26-4226-be4a-f53778c44140', 'name':'PetStore API Scan via Jenkins', 'scannerId':'0', 'useAssignedScannerOnly':'true', 'overrides':{'dataRetentionDays':'0', 'scanPriority':'5','scanMode':'CrawlAndAudit'}"
 
